.quote {
  font-size: 32px;
  color: #D4274B;
  margin: 1.5em 0;
  padding: 0.5em 0;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  text-align: center;
}

@media all and (min-width: 800px) {
  .quote {
    text-align: left;
  }
}

.quote:before {
  color: #D4274B;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
}

.quote:after {
  color: #D4274B;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.3em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.quote p {
  display: inline;
}

.quote cite {
  color: #D4274B;
  font-size: 14px;
  display: block;
  margin-top: 15px;
}
