.quote {
  font-size: 32px;
  color: #D4274B;
  margin: 1.5em 0;
  padding: 0.5em 0;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote:before {
  color: #D4274B;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.3em;
}
.quote p {
  display: inline;
}

.quote cite {
  color: #D4274B;
  font-size: 14px;
  display: block;
  margin-top: 15px;
  margin-left: 30px;
}

.quote cite:before {
  content: "\2014 \2009";
}
