* {
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}  

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.app-column-1 {
  flex: 1 100%;
  padding: 0 20px;
}

.app-column-2 {
  flex: 1 100%;
  align-self: center;
  padding: 0 20px 3rem;
}

@media all and (min-width: 800px) {
  /* We tell both sidebars to share a row */
  .app-column-1 {
    flex: 2;
    flex-basis: auto;
    max-width: 400px;
    padding: 0 15px 0 50px;
  }
  .app-column-2 {
    flex: 3;
    flex-basis: auto;
    max-width: 400px;
    padding: 0 50px 0 15px;
  }
}

.app-footer {
  right: 0;
  padding: 0 40px;
  color: #cccccc;
  font-size: 13px;
}

a {
  color: #cccccc;
}

.app-intro {
  font-size: 32px;
  color: #D4274B;
  text-align: center;
}

@media all and (min-width: 800px) {
  .app-intro {
    text-align: left;
  }
}
