* {
  -webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

html,
body,
#root {
  height: 100%;
}

.container {
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.app-column-1 {
  flex: 1 100%;
  padding: 0 20px
}

.app-column-2 {
  flex: 1 100%;
  align-self: center;
  padding: 0 20px;
}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .app-column-1 {
    flex: 2;
    flex-basis: auto;
    max-width: 400px;
    padding: 0 15px 0 50px;
  }
  .app-column-2 {
    flex: 3;
    flex-basis: auto;
    max-width: 400px;
    padding: 0 50px 0 15px;
  }
}

.app-footer {
  flex: 1 100%;
}

.app-intro {
  font-size: 32px;
  color: #D4274B;
}
